:root{--primary-color: #272142;}


  
h1 {
  font-family: "Playfair Display SC", serif;
  text-align: center;
  font-size: 96px;
  line-height: 128px;
}
h2 {
  margin-top: 276px;
  font-family: "poppins";
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color:var(--primary-color);}
