:root {
  --primary-color: #272142;
  --second-color:#265283;
  --brand-color: #6c63ff;
  --background-color: #f9f7fe;
  --default-font-family: "Poppins", sans-serif;
  --head-font-family: font-family: 'Playfair Display', serif;
  
}

nav{
  padding:10px 0;
}
nav ul{
  margin:0;
  padding:0;
}
nav li{
  display:inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}
nav a{
  text-decoration: none;
  color:#000000;
  font-weight:400;
  font-size: 16px;
  font-family: var(--default-font-family);
  transition: all 200ms ease;}

  
nav li.active a,nav a:hover{
    color:var(--brand-color);}

    .logo-small{max-height:40px ;}

h1,h4 {
  font-family: var(--head-font-family); 
}
h2,p,footer {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}
h3{
  font-family: var(--default-font-family);
  color:#000000;
  font-weight:700;
  font-size:24px;
margin-top:48px;}
h4{font-size: 48px;
font-weight: 700;}


.hero  {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  text-align: center;
  padding:100px 20px;
}

.hero h1{
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  color:var(--second-color)
}
.work h1{padding-top: 20px;} 
.hero h2{     
  font-family: var(--head-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  margin-top: 23px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--default-font-family);
  color: var(--primary-color);
  margin-right: 1px;
  
}
.container-section{
  margin-top: 20px;
}

.content-section{
  margin: 20px 5px;
  padding: 16px 0;
}
.container-section h1{
  margin-top: 20px;
  font-size: 64px;
  color:black;
  font-weight: 700;
  line-height:1.2;}

.container-section h2{
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
  }
 .concussion-project h2,
 .weather-project h2,
 .dictionary-project h2{
  font-family: var(--head-font-family);
  font-size: 64px;
  font-weight:700;
  color:#000000;
 }
.container-section p{
  margin-top: 20px;
  font-weight:400;
  font-size: 16px;
line-height: 30px;}
.ws-concussion {
  font-size: 18px;
  margin-top: 48px;
      } 
.button-hero {
  background-color:var(--second-color);
  color: #ffffff;
  margin-top: 49px;
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  transition: all 200ms ease;
}
.button-hero:hover,
.contact-button:hover{
  color: var(--brand-color);
  background:  #ffffff;
  border:1px solid  var(--brand-color);
      }
      
.button-branding{ 
  color:var(--brand-color);
  background: #ffffff;}
.button-branding,.contact-button{
 
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 60px;
  width: 200px;
  border: 1px solid #6C63FF;
  border-radius: 4px;
  padding: 18px 30px;
}  
.contact-button{
  background:var(--brand-color);
  color:#ffffff;
  margin-top:20px;}

.button-branding:hover{
  color:  #ffffff;
  background:var(--brand-color);
  border:1px solid  var(--brand-color);       
}

     


.concussion-pic{
  margin: 85px 37px 20px 50px;
}
.concussion-project{
  margin-top: 34px;
}
.weather-pic{
  margin-top: 70px;
}
.weather-project{
  margin-top:97px;
}
.dictionary-pic{
  margin-top: 48px;
}
.dictionary-project{
  margin-top: 117px;
}

.coding-image{margin-top: 48px;}
footer{
  margin:78px 0 68px 0;
}
footer .contact-container{
  background:var(--background-color);
padding:35px 120px;
border-radius: 20px;}
footer .contact-container p{
  margin-top: 10px;
  opacity: 80%;
}
footer .email-link{
  text-decoration: none;
  color:#000000;
  font-size: 24px;
  font-weight: 500;
  margin-top:78px;
}  
footer .email-link:hover{
    color: var(--brand-color);
}
footer .git-face-links a{
  margin:41px 33px ;
  font-size: 18px;
  color: var(--brand-color);
  border-radius: 50%;
  padding:10px 15px;
  background-color: var(--background-color);
  transition: all 200ms ease;
} 
footer .git-face-links a:hover{
  background:var(--brand-color);
  color:#ffffff;
}
@media (max-width: 900px) {

  nav a{font-size: 12px;
  margin-right: 10px;}
nav li.active a{margin-left: 0;}
  .hero h1 {
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
          }
.container-section h1{
  font-size: 30px;
  margin:10px 10px;
  padding:10px 10px;
  text-align: center;}

.hero h2 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  }
  
.hero,
.container-section{
    padding:80px 20px;
  }
  h1.work{font-size:25px;
  padding:0;}
  .ws-concussion{margin:5px 5px;}
  .concussion-project h2,
 .weather-project h2,
 .dictionary-project h2{
font-size: 32px;
  }
  h3{margin:20px 0;}
  .dictionary-project,.weather-project,.concussion-project{
    padding:0 20px;
    margin-top: 10px;
    text-align: center;}
  .content-section{
    margin: 5px 10px;}
  .content-section h1{
    font-size: 41px;
    margin-top: 0px;}
  .container-section{
    margin:0px 0px;
    padding:0px;
    text-align: center;}
  .coding-image{
    margin:20px 0px;
    padding:0px 0px}
  .button-branding{margin-top: 20px;}
 footer .contact-container{
  text-align: center;
  padding:15px;
  
 }
 footer {
  font-size: 16px;
  margin:5px 5px;
 }
 footer .email-link{margin-top: 5px;}
 footer .git-face-links a{margin:0;}
}