:root {
  --primary-color: #272142;
  --brand-color: #6c63ff;
  --default-font-family: "Poppins", sans-serif;
  --head-font-family: font-family: 'Playfair Display', serif;
  --background-color: #f9f7fe;
}

h2,
h3 {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}
h1 {
  font-family: var(--head-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
  color:#265283;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}
h1,h2{margin-bottom: 0px;}

h3 {
  font-size: 24px;
  margin-top: 23px;
}
.hero {
   background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

  text-align: center;
  padding:160px 20px;
}
.button-hero {
  background-color: #265283;
  color: #ffffff;
  margin-top: 49px;
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}

      .button-hero:hover{
        color: var(--brand-color);
        background: #ffffff;
        border:1px solid  var(--brand-color);
      }